*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 100vh;
    /* 02 */

    background-image: linear-gradient(to top, rgb(48, 207, 208, 0.45) 0%, hsl(267, 86%, 22%, 0.45) 100%), url(https://scontent.fcjs1-2.fna.fbcdn.net/v/t1.6435-9/127081378_4979125598779192_8066980549296059154_n.jpg?_nc_cat=103&ccb=1-6&_nc_sid=09cbfe&_nc_eui2=AeFQ41ng9rzXF6is0Q9q9EQWVsZ5XmSIvPNWxnleZIi882o4L_NULLgTxtyMgrAf1c229pea5X1e67vT8c-FRFVy&_nc_ohc=XMBgAZE0gHYAX8XKE4y&_nc_ht=scontent.fcjs1-2.fna&oh=00_AT8HQ90Tc4_xzyqUjzZee8I5vQVmD8mLABr544imA1bYiw&oe=62A64075); 
    ;
    /* background-image: linear-gradient(to right, rgb(79, 172, 254, 0.5) 0%, hsla(183, 100%, 50%, 0.5) 100%), url(https://scontent.fcjs1-2.fna.fbcdn.net/v/t1.6435-9/127081378_4979125598779192_8066980549296059154_n.jpg?_nc_cat=103&ccb=1-6&_nc_sid=09cbfe&_nc_eui2=AeFQ41ng9rzXF6is0Q9q9EQWVsZ5XmSIvPNWxnleZIi882o4L_NULLgTxtyMgrAf1c229pea5X1e67vT8c-FRFVy&_nc_ohc=XMBgAZE0gHYAX8XKE4y&_nc_ht=scontent.fcjs1-2.fna&oh=00_AT8HQ90Tc4_xzyqUjzZee8I5vQVmD8mLABr544imA1bYiw&oe=62A64075); 
    
    
    background-image: linear-gradient(to right, rgb(250, 112, 154, 0.5) 0%, hsl(51, 99%, 62%, 0.5) 100%), url(https://scontent.fcjs1-2.fna.fbcdn.net/v/t1.6435-9/127081378_4979125598779192_8066980549296059154_n.jpg?_nc_cat=103&ccb=1-6&_nc_sid=09cbfe&_nc_eui2=AeFQ41ng9rzXF6is0Q9q9EQWVsZ5XmSIvPNWxnleZIi882o4L_NULLgTxtyMgrAf1c229pea5X1e67vT8c-FRFVy&_nc_ohc=XMBgAZE0gHYAX8XKE4y&_nc_ht=scontent.fcjs1-2.fna&oh=00_AT8HQ90Tc4_xzyqUjzZee8I5vQVmD8mLABr544imA1bYiw&oe=62A64075); */
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

/* linearGradient{
    opacity: 50%;
} */

.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}


.hamburguer{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    width: 30vw;
    height: 100%;
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%); */
    /* 02 */
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    /* 028 */
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transform: translateX(110%);
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translateX(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}



.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.sub-cita{
    font-weight: 300;
    font-size: 25px;
}

/* Aquí encontrarás */

.subtitulo{
    color: #7341e7;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

.contenedor-aqui{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-aqui img{
    width: 40%;
}

.checklist-aqui{
    width: 45%;
}

.aqui{
    margin-bottom: 20px;
}

.n-aqui{
    margin-bottom: 7px;
    color: #8c5bff; 
    
}

.number{
    display: inline-block;
    /* 02 */
    /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
}

.contenedor1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.oficina{
    display: flex;
    justify-content: center;
}

.oficina {
    display: flex;
    justify-content: space-between;
}

.oficina>img {
width: 500px;
}

.box-skills {
margin: 30px 30px 0 0;
}

.box-skills h4 {
font-size: 24px;
background: #f2f2f2;
width: 350px;
border-radius: 6px;
padding: 10px 0 10px 15px;
margin-bottom: 10px;
}

.box-skills i {
color: #1FDE82;
font-size: 20px;
}

/* 
.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen{
    width: 60%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.deveres{
    display: flex;
    border: solid black;
    width: 50%;


} */

.misas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cont-misas{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-misas img{
    display: block;
    margin: auto;
    width: 80%;
}

.n-misas{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
}


.mapa{

    overflow:hidden;

    padding-bottom:25%;

    position:relative;

    height:0;

}

.mapa iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

footer{
    /* background: #9f8ad0; */
    background-image: linear-gradient(to top, rgb(48, 207, 208, 0.45) 0%, hsl(267, 86%, 22%, 0.45) 100%);
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}


.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color:#764ba2;
}

@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-aqui img{
        width: 80%;
        margin-bottom: 40px;
    }
    
    .checklist-aqui{
        width: 80%;
    }

    .aqui{
        margin-bottom: 30px;
    }

    .img-galeria{
        width: 45%;
    }
    
    .agregarImagen{
        width: 80%;
    }

    
    .cont-misas{
        width: 80%;
    }
    
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    
}


@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .img-galeria{
        width: 95%;
    }
    
    .agregar-imagen{
        width: 90%;
    }

    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 95%;
        margin-bottom: 40px;
    }
    
}




/* Breakpoints responsive */

    /* oficina */

    @media screen and (max-width:800px){

    }

    .oficina {
        flex-direction: column-reverse;
        align-items: center;
    }
    .box-skills2{
        display: flex;
        justify-content: center;
    }
    .box-skills {
        margin: 0 0 40px 0;

    }

    .box-skills h4 {
        width: 500px;
    }

    .oficina>img {
        width: 400px;
    }

@media screen and (max-width:600px) {
    

    .results-text h4 {
        font-size: 35px;
    }

    /* Services */

    .oficina>img {
        width: 200px;
    }

    .box-skills h4 {
        width: 100%;
    }

}